<ion-header>

  <ion-navbar color="purlblue">

  </ion-navbar>
</ion-header>
<ion-content>

    <ion-card-header>
     <div style="color:#b71c1c;font-size:3rem">Bus Route :   {{route.busRoute}} </div>
    </ion-card-header>
      <ion-list>
        <ion-list-header>
          Bus Stops
        </ion-list-header>
         <ion-card *ngFor="let busstop of busStops" (click)="openBusstops(busstop)">
      <ion-item class="item-text-wrap">
    <ion-thumbnail item-start style="width: 60px; height: 60px; margin-right: 0px!important; margin-top: 6px;">
      <img src="assets/img/bushalt.png" style="width: 60px; height: 60px; margin-top: 9px;">
    </ion-thumbnail>
    <h2 style="font-size:2rem" color = "#546E7A" text-wrap>{{busstop.description}}</h2>
    <p>{{busstop.distance}}</p>
    <!--<button ion-button  item-end   color="danger"  style="width:60px;height:40px">Go</button>-->
        <ion-icon name="ios-arrow-forward" item-end color="danger"></ion-icon>
      </ion-item>
    </ion-card>
        <!--<ion-item inset *ngFor="let busStop of busStops; let i=index">
          <ion-item (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" class="busstopList">
            <ion-avatar item-start *ngIf="!isLevel1Shown('idx'+i)">
             <ion-icon name="navigate" left></ion-icon>
            </ion-avatar>
            <h2>
              {{busStop.description}}
              <ion-icon color="primary" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              <p>(100m Away)</p>
            </h2>
          </ion-item>
          <ion-list *ngIf="isLevel1Shown('idx'+i)" sliding="true">
            <ion-item>
              <h3>Next Buses</h3>
              <ion-scroll scrollX="true" style="width:auto; height:140px;padding-left:0px !important;">
                <div class="inner">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-sm col-auto text-center *ngFor="let bus of buses">
                        <div class="outer" (click)="openBuses(bus)">
                          <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet" class="row">
                            <g>
                              <circle fill="#f44336" r="50%" cx="50%" cy="50%" class="circle-back" />
                              <text x="50%" y="50%" text-anchor="middle" dy="0.3em">{{bus.eta}}</text>
                            </g>
                          </svg>
                        </div>
                        <div class="text" style="font-size:1.3rem">{{bus.busRoute}}</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-scroll>
            </ion-item>
          </ion-list>
        </ion-item>-->
      </ion-list>

</ion-content>
