<!--
  Generated template for the BusDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="purlblue">
      <ion-title>BusDetailPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
  <ion-card-content>
   <div #map id="map"></div>
  </ion-card-content>

</ion-card>
<ion-card>

  <ion-card-header>
   Number Plate: {{bus.numberplate}}
  </ion-card-header>

  <ion-card-content>
   <ion-item>
  <ion-icon name="bus" item-start></ion-icon>
 Bus Route
  <ion-badge item-end>{{bus.busRoute}}</ion-badge>
</ion-item>
    <ion-item>
  <ion-icon name="time" item-start></ion-icon>
 ETA
  <ion-badge item-end color="secondary">{{bus.eta}}</ion-badge>
</ion-item>
   <ion-item>
  <ion-icon name="md-locate" item-start></ion-icon>
 Next Location
  <ion-badge item-end color="dark">Ibbanwala Jnction</ion-badge>
</ion-item>
 
  </ion-card-content>

</ion-card>
</ion-content>
