<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="orange">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides" color="orange">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</h2>
      <!--<button ion-button icon-end large clear (click)="startApp()">
        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>-->
      <ion-grid>
        <ion-row    text-center>
          <ion-col offset-1  text-center>
        <div class="outer"  (click)="startApp()">
            <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet" >
              <g>
                <circle fill="#FF8F00" r="50%" cx="50%" cy="50%" class="circle-back" />
                <text x="50%" y="50%" text-anchor="middle" dy="0.3em">  {{'USER_TYPE_OWNER' | translate}}</text>
              </g>
            </svg>
          </div>
          </ion-col>
          <ion-col  offset-1  text-center>
             <div class="outer"  (click)="startApp()">
            <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet" >
              <g>
                <circle fill="#FF8F00" r="50%" cx="50%" cy="50%" class="circle-back" />
                <text x="50%" y="50%" text-anchor="middle" dy="0.3em">{{'USER_TYPE_TRAVELLER' | translate}}</text>
              </g>
            </svg>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
