page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

.outer {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: auto;
  width: 120px;
  resize:both;
  padding-left: 5px;
  padding-right: 5px;

}

.inner{
  width: 500px;

}
.col{
  align-content: center;
  align-items:center;
  text-align: center 
}
.ion-row {
text-align: center;
align-content: center;
align-items:center;
}
svg {  
  height: 100%;
}

circle {  
  padding: 10px;
  margin: 20px;
}

.topics{
  font-size: 32px;
}


text {  
  fill: #fff;
  font-size: 3rem;
  font-family: sans-serif;
}

scroll-content{
padding-left: 0px;
padding-right: 0px;
}

}
