<ion-header>

<ion-navbar color="purlblue">
    <ion-title>Fav Routes</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
<ion-list>
  <ion-list-header>
    Fav Bus Routes
  </ion-list-header>
  <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>120 (Pettah - Kasbewa) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>138 (Pettah - Homagama) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>01 (Kandy - Colombo) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>154 (Pettah - Kasbewa) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>17 (Panadura - Kandy) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>02 (Pettah - Kasbewa) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>167 (Pettah - Kasbewa) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-item-sliding>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>172 (Pettah - Kasbewa) </h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
<!--<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
            <ion-icon name="bus"></ion-icon>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>-->