
<ion-header >

  <ion-navbar color="purlblue">
    <ion-title>BusHalt Details</ion-title>
  </ion-navbar>

</ion-header >
<ion-content padding>
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-card>
  <div #map id="map"></div>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-card-title>
     {{busstop.description}} <br> <h4 wrap-text  *ngIf="getdistancebool( busstop.distance)" >( {{busstop.distance}} m )</h4>
     <ion-badge item-end *ngIf="!getdistancebool( busstop.distance)" color="primary">1.5 Km from your location</ion-badge>
      </ion-card-title>
    <!--<ion-item>
  <ion-icon name="logo-steam" item-start></ion-icon>
 Routes
  <ion-badge item-end>120,138,154</ion-badge>
</ion-item>-->
 <!--<ion-item>
  <ion-icon name="walk" item-start></ion-icon>
 Distance
  <ion-badge item-end color=dark>{{busstop.distance}}</ion-badge>
</ion-item>-->
 <!--<ion-item (click)="openBuses()">
  <ion-icon name="bus" item-start></ion-icon>
 Next Bus
  <ion-badge item-end color=danger>120</ion-badge>
</ion-item>-->
<ion-item style="padding-left: 0px !important;">
  <ion-grid>
  <!--<ion-item>
    <ion-col col style=" font-weight: bold;">Route Number</ion-col>
    <ion-col col style=" font-weight: bold;" left>Available Buses</ion-col>
  </ion-item>-->
    <ion-row  *ngFor="let time of times">
    <ion-col col style="font-size:2rem; font-weight: bold;">{{time.busRoute}}</ion-col><br>
    <ion-col col >

      <ion-badge item-end color=danger (click) = "openBuses()"  *ngIf="getdistancebool( time.timeInMinToFirst)">{{time.timeInMinToFirst}} min</ion-badge>
       <ion-badge item-end  (click) = "openBuses()" *ngIf="!getdistancebool( time.timeInMinToFirst)" color="secondary">Arrived</ion-badge>

      <ion-badge item-end color=danger *ngIf="getdistancebool( time.timeInMinToSecond)">{{time.timeInMinToSecond}} min</ion-badge>
       <ion-badge item-end *ngIf="!getdistancebool( time.timeInMinToSecond)" color="secondary">Arrived</ion-badge>

      <ion-badge item-end color=danger *ngIf="getdistancebool( time.timeInMinToThird)">{{time.timeInMinToThird}} min</ion-badge>
      <ion-badge item-end *ngIf="!getdistancebool( time.timeInMinToThird)" color="secondary">Arrived</ion-badge>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-item>

  </ion-card-content>
</ion-card>



</ion-content>
