<ion-content text-center class="vertical-align-content">

  <ion-grid>
    <ion-row>
        <ion-col> <div class="splash-logo"></div></ion-col>
    </ion-row>
    <ion-row>
    <ion-row>

    </ion-row>
      <ion-col>
        <form (submit)="doSignup()">
          <ion-list>
            <!--<ion-item class="center">-->
              <p style="color:#FAFAFA; padding-left: 6px;font-size: 2em;" float-left>Enter Your mobile number</p>
            <!--</ion-item>-->

            <ion-item class="input-item">
              <ion-input type="text" placeholder="Mobile Number"></ion-input>
              <!--<ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>-->
            </ion-item>
            <div>
              <button ion-button color="light" block style="color: orange">{{ 'SIGNUP_BUTTON' | translate }}</button>
            </div>

          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
