page-signup {
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;

     background: linear-gradient(to top right, #ffb347 0%, #ffcc33 100%);
}
  .splash-logo {
    margin: auto;
    background: url('../assets/img/white.png') repeat transparent;
    background-size: 100%;
    width: 180px;
    height: 180px;
   margin-top: 0px !important;
  }

  .input-item{
      background: transparent;
      color: #FAFAFA !important;
      margin-bottom: 12px;
  }
 .item-md{
        padding-left: 0px !important;
}

}
