<ion-tabs selectedIndex="1" tabsPlacement="bottom" color="purlblue">
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="cog"></ion-tab>
</ion-tabs>