

<ion-list-header no-lines class="topics">
  <h2> Nearby Bus Halts </h2>
</ion-list-header>

<ion-list>

    <ion-card *ngFor="let busstop of currentBusstops" (click)="openBusstops(busstop)" >
      <ion-item >
    <ion-thumbnail item-start style="width: 60px; height: 60px; margin-right: 0px!important; margin-top: 6px;">
      <img src="assets/img/bushalt.png" style="width: 60px; height: 60px; margin-top: 9px;">
    </ion-thumbnail>
    <h2 style="font-size:2rem" color = "#546E7A" wrap-text>{{busstop.description}}</h2>
    <p>{{busstop.distance}} m</p>
    <!--<button ion-button  item-end   color="danger" (click)="openBusstops(busstop)" style="width:60px;height:40px">Go</button>-->
        <ion-icon name="ios-arrow-forward" item-end color="danger"></ion-icon>
      </ion-item>
    </ion-card>

</ion-list>


<!--

<ion-scroll scrollX="true" style="width:auto; height:140px;padding-left:0px !important;">
  <div class="inner">
    <ion-grid>
      <ion-row>
        <ion-col col-sm col-auto text-center *ngFor="let busstop of currentBusstops">
          <div class="outer"  (click)="openBusstops(busstop)">
            <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
              <g>
                <circle fill="#e53935" r="50%" cx="50%" cy="50%" class="circle-back" />
                <text x="50%" y="50%" text-anchor="middle" dy="0.3em">{{busstop.distance}}</text>
              </g>
            </svg>
          </div>
          <div class="text" style="font-size:1.3rem">{{busstop.description}}</div>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>
</ion-scroll>
<ion-list-header no-lines class="topics">
  <h2>Nearby Buses</h2>
</ion-list-header>
<ion-scroll scrollX="true" style="width:auto; height:140px;padding-left:0px !important;">
  <div class="inner">
    <ion-grid>
      <ion-row>
        <ion-col col-sm col-auto text-center *ngFor="let bus of currentBuses">
              <div class="outer" (click)="openBuses(bus)">
                <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet" class="row">
                  <g>
                    <circle fill="#f44336" r="50%" cx="50%" cy="50%" class="circle-back" />
                    <text x="50%" y="50%" text-anchor="middle" dy="0.3em">{{bus.eta}}</text>
                  </g>
                </svg>
              </div>
             <div class="text" style="font-size:1.3rem">{{bus.busRoute}}</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-scroll>-->

<!--<ion-scroll scrollX="true" style="width:auto; height:140px;padding-left:0px !important;">
  <div class="inner">
    <ion-grid>
      <ion-row>
        <ion-col col-sm col-auto text-center *ngFor="let bus of postList">
              <div class="outer" (click)="openBuses(bus)">
                <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet" class="row">
                  <g>
                    <circle fill="#1565C0" r="50%" cx="50%" cy="50%" class="circle-back" />
                    <text x="50%" y="50%" text-anchor="middle" dy="0.3em">{{bus.id}}</text>
                  </g>
                </svg>
              </div>
             <div class="text" style="font-size:1.3rem">lol</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-scroll>-->
