<ion-header>
  <ion-navbar>
    <ion-title>
      Content
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <button ion-button (click)="animateElem()">Animate it!</button>
<ion-card #myElement>
  <ion-card-header>My Animation Card</ion-card-header>
  <ion-card-content>So much awesome content and animations. AMAZING!</ion-card-content>
</ion-card>
</ion-content>