page-search {
    .bus-icon{
        color: #B0BEC5;
        font-size: 4em;
    }
    #search{
        background:rgba(96,125,139 ,0.3)
    }
    #map {
    height: 100%;
  }
  //  #floating-panel {
  //   position: absolute;
  //   top:15px;
  //   left: 15px;
  //   z-index: 5;
  //   padding: 0px;
  //   text-align: center;
  //   font-family: 'Roboto','sans-serif';
  //   line-height: 30px;
  //   padding-left: 10px;
  // }
}
