<ion-header>

  <ion-navbar  color="purlblue">
      <div id="search">
  <ion-searchbar (ionInput)="getRoutes($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>

  </div>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="openRoutes(route)" *ngFor="let route of currentRoutes">
      <ion-avatar item-start>
        <ion-icon name="md-bus" class="bus-icon"></ion-icon>
      </ion-avatar>
      <h2>Route No: {{route.busRoute}}</h2>
     <h3>{{route.startLocation.name}} --{{route.endLocation.name}}  </h3>
      
      <!--<ion-note item-end *ngIf="item.note">{{item.eta}}</ion-note>-->
    </button>
  </ion-list>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <page-listview></page-listview>
 <!--<div class="map" id="map" #map></div>-->
</ion-content>