<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
  <ion-card-header>
    Heavy Traffic on Route 138
    <ion-icon name="close" float-right></ion-icon>
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    News 2
     <ion-icon name="close" float-right></ion-icon>
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Header
      <ion-icon name="close" float-right></ion-icon>
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Header
      <ion-icon name="close" float-right></ion-icon>
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>
</ion-content>